*.pth
*.pt
*.onnx
*.pk
*.model
*.zip
*.tar
*.pyc
*.pid
*.log
*.o
*.so
*.a
*.exe
*.out
.idea
**.DS_Store**
**/__pycache__/**
**.swp
.vscode/
.env
save*
.log
.pid
*.ipynb*
/pretrain/
/exps/
/picture/
/models/ops/build/
/models/ops/dist/
/models/ops/*.egg-info/